<!-- app/views/bookings/new.html.erb -->

<h1>Book Flight</h1>

<p>
  <strong>Flight:</strong> <%= @booking.flight.departure_airport.code %> to <%= @booking.flight.arrival_airport.code %><br>
  <strong>Departure Time:</strong> <%= @booking.flight.start_datetime.strftime("%B %d, %Y %H:%M") %><br>
  <strong>Duration:</strong> <%= @booking.flight.duration %> minutes
</p>

<%= form_with(model: @booking, local: true) do |form| %>
  <%= form.hidden_field :flight_id %>

  <h2>Passengers</h2>
  <div id="passengers-container">
    <%= form.fields_for :passengers, Passenger.new, child_index: Time.now.to_i do |passenger_form| %>
      <div class="passenger-fields">
        <div>
          <%= passenger_form.label :name %>
          <%= passenger_form.text_field :name %>
        </div>
        <div>
          <%= passenger_form.label :email %>
          <%= passenger_form.email_field :email %>
        </div>
        <%= link_to "Remove", "#", class: "remove-passenger-btn" %>
      </div>
    <% end %>
  </div>

  <%= button_tag "Add passenger", type: "button", id: "add-passenger-btn" %>

  <div>
    <%= form.submit "Book Flight" %>
  </div>
<% end %>

<template id="passenger-fields-template" style="display: none;">
  <%= render 'passenger_fields' %>
</template>
